* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 1.5s;
}

*::before {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;


}

.code-wrapper {
    flex: 1;
    height: 50%;
}

.code {

    overflow: auto;
    /* 带滚动条的overflow */
    height: 100%;
}

.preview-wrapper {
    flex: 1;
    height: 50%;
}

.preview {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFE600;
}

.wrapper {
    width: 100%;
    height: 200px;
    position: relative;
}

